<section>
  <div class="card">
    <div class="card-header">
      <h4>My product</h4>
      <a [routerLink]="['/home/create']" routerLinkActive="router-link-active" class=" ml-auto">
        <button class="btn btn-primary btn-sm">
          <i class="fas fa-plus"></i> Create
        </button>
      </a>
    </div>
    <div class="card-content">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <td>#</td>
              <td>Username</td>
              <td>Email</td>
              <td>Phone</td>
              <td>Action</td>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="emptyData">
              no data

            </ng-container>
            <tr *ngFor="let user of users; let i = index" class="click"
            >
              <td>{{i+1}}</td>
              <td  (click)="onClickUser(user)" class="user-detail">
                {{user.username}}</td>
              <td>{{user.email}}</td>
              <td>{{user.phone}}</td>
              <td>
                <button class="btn btn-danger btn-sm" (click)="deleteUser(user._id)">Delete </button>
              </td>
              <!-- <td [innerHTML]="user.status | status"></td> -->
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>

</section>
